<header class="main-header">
  <div class="second-header">
    <div class="wrapper">
        <img src="../../../../assets/imagens/logoDesenvolveSP.svg"/>
    </div>
  </div>
  <nav class="navbar">
    <div class="wrapper">
        <ul class="nav">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/cadastro-autorizacao" ref="#">Autorização</a></li>
            <li><a routerLink="/login" (click)="statusHeader()" ref="#">Sair</a></li>
        </ul>
    </div>
  </nav>
</header>
