.home{
    .title{
        margin-bottom: 2rem;

        h1{
            color: #0a3a3f;
            margin-left: 1rem;
        }

        .consulta-input{
            width: 82.7%;
            margin-right: 9px;
        }

        button{
            display: inline;
        }
    }

    table{
        width:100%;
        margin-bottom: 3rem;
    }
}