<section class="home">
    <div class="wrapper">
        

        <div class="title">
            <h1>Consulta de autorização</h1>
              <label for="consulta-autorizacao" class="label-default">Digite o número da autorização </label>
              <input id="consulta-autorizacao" class="input-default consulta-input" name="consulta-autorizacao" type="text">
              <button class="btn-blue">Consultar</button>
        </div>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="saldo">
              <th mat-header-cell *matHeaderCellDef> Saldo </th>
              <td mat-cell *matCellDef="let element"> {{element.saldo}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="local">
              <th mat-header-cell *matHeaderCellDef> Local </th>
              <td mat-cell *matCellDef="let element"> {{element.local}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>






    </div>
</section>
