.cadastro-autorizacao{

    .container-ofico{
        
        h1, h5{
            color: #0a3a3f;
            margin-left: 1rem;
        }

        .botoes-oficio{
            width: 65%;
            margin: 0 auto;

            margin-top: 3rem;
            margin-bottom: 3rem;
            display: flex;
            justify-content: space-between;
        
        }
    }
}


