@import './_vars';
@import './_forms';
@import './buttons';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/*--------Default Settings-------*/
body{
  font-family: 'Lato-Regular', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
  height: 100%;
  margin: 0px;
}

.wrapper{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
